<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.container {
    background-color: #888;
  padding: 16px;
  /* background-image: url("https://t3.ftcdn.net/jpg/03/55/60/70/240_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg"); */
}

span.psw {
  /* float: right; */
  padding-top: 16px;
  margin-right:300px;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}


/* Modal Content/Box */
.modal-content {
  /* background-color: #fefefe; */
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; 
  border-radius: 20px;
  background-image: url("https://thumbs.dreamstime.com/b/light-blue-background-blurred-sky-design-cloudy-white-paint-blurry-border-fresh-spring-colors-49610558.jpg");
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>
<center><h1>Avaible Jobs</h1></center>
<table>
  
  
    <tr>
        <th>Job Time</th>
        <th>Qulification</th>
        <th>Location</th>
        <th>Salary</th>
        <th>Mobile Number</th>
        <th>Email</th>
        <th>Apply</th>
    </tr>
   <% for(let job of jobs) { %>
      <tr>
        <% if(job.qulification=="m_pharm"||job.qulification=="b_pharm"||job.qulification=="d_pharm") { %>
        <td>
            <%= job.time %>
        </td>
        <td>
          <%= job.qulification %>
        </td>
        <td>
          <%= job.location %>
        </td>
        <td>
          <%= job.salary %>
        </td>
        <td>
          <%= job.mobile_number %>
        </td>
        <td>
          <%= job.email %>
        </td>
        <td>
          <form method="get" action="/apply/<%= job.id %>">
            <button class="button">Apply</button>
          </form>
        </td>
        <td>
          <form method="get" action="/job/<%= job.id %>/delete">
            <button class="button">Remove</button>
          </form>
        </td>
      </tr>
      <% } %>
      <% } %>
</table>
<button class="button button2" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Recruiter</button>
<div id="id01" class="modal">

  
    <form class="modal-content animate">
      <div class="container">
        <p>Are you sure you want to hire</p>
        <button><a href="/recuiter">Yes</a></button>
        <br>
        <br>
        <!-- <label>
           <input type="checkbox" checked="checked" name="remember"> Remember me -->
        <!-- </label>  -->
      </div>
      <div class="container">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">NO</button>
    
          <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
        </div>
      </form>
      <script>
        // Get the modal
        var modal = document.getElementById('id01');
        var modal2 = document.getElementById('id02');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal1.style.display = "none";
            }
        }
        </script>
        
</body>
</html>